/* Configurações para telas grandes */

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    flex: 1;
}

footer h3 {
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 600px) {
    /* Ajustes adicionais para telas pequenas */
    main {
        padding: 1em;
    }
}
